body {
  background-color: black;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.download_excursion {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana;
  text-align: center;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
.img {
  text-align: center;
}
video {
  text-align: center;
}
.copyright {
  text-align: right;
  color: gray;
}
p {
  color: gray;
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
}
